[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
darjeeling = {path = ".", editable = true}
lcovparser = "*"

[requires]
python_version = "3.9"

[dev-packages]
flake8 = "*"
mypy = "*"
types-pyyaml = "*"
